 .page-head-line {
    padding-bottom: 10;
    border-bottom: 2px solid #34495e;
    color: #064CA7;
    font-size: 20px;
    margin-bottom: 15px;
}


/*nav bar css*/

 .nav-tabs a{
  color:#ffffff;
}
.nav-tabs li a{padding:8px 6px;}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover{
  background: #ffffff;
  cursor: default;
  border: 1px solid #337ab7;
  border-bottom-color: transparent;
}
.nav-tabs li a{
  background: #034A74;
}

.nav-tabs li a:hover{
  background: #337ab7;
}

.tab-content{
  padding-top: 10px;
}

.tab-content ul{
  list-style : disc;
  
}


